@import '../variables';

.background {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  background: radial-gradient(lighten($primary-bg, 20), $primary-bg);

  > span {
    display: block;
    position: absolute;
    transform: rotateZ(45deg);
    background: $primary-bg-light;
    box-shadow: $primary-bg 0 0 60vh;
    opacity: 0.1;
  }
}